polkit.addRule(function(action, subject) {
    if ((action.id == "org.freedesktop.systemd1.reload-daemon" || 
         action.id == "org.projectatomic.rpmostree1.upgrade" ||
         action.id == "org.projectatomic.rpmostree1.rollback" ||
         action.id == "org.projectatomic.rpmostree1.rebase" ||
         action.id == "org.projectatomic.rpmostree1.repo-refresh" ||
         action.id == "org.projectatomic.rpmostree1.cancel" ||
         action.id == "org.projectatomic.rpmostree1.cleanup") &&
        subject.isInGroup("bootc-admin")) {
        return polkit.Result.YES;
    }
});